@mixin bulletType($color: white) {
  height: 41px;
  width: 41px;
  margin: 0 !important;
  border-radius: 0;
  background: none;
  opacity: 1;
  transition: height, width .5s;
  @media screen and (min-width: $screen-md-min) {
    height: 73px;
    width: 73px;
  }
  svg {
    height: 41px;
    width: 41px;
    transition: height, width .5s;
    @media screen and (min-width: $screen-md-min) {
      height: 73px;
      width: 73px;
    }
    &:hover {
      g {
        path {
          //stroke-dasharray: 360;
          //transition: stroke-dasharray 5s;
        }
      }
    }
  }


  g {
    path {
      stroke: transparent;
      transition: stroke .5s;

      &.red {
        stroke: $color-type-2a;
        stroke-dasharray: 280 280;
        stroke-dashoffset: 280;
        stroke-linecap: round;
        transition: all 0s;
      }
    }
  }

  &-active {
    height: 70px;
    width: 70px;
    @media screen and (min-width: $screen-md-min) {
      height: 113px;
      width: 113px;
    }

    svg {
      height: 70px;
      width: 70px;
      @media screen and (min-width: $screen-md-min) {
        height: 113px;
        width: 113px;
      }
    }

    g {
      path {
        stroke: $color;
      }
    }
  }
}

.fullpage-block {
  .image-pack {
    position: relative;
    z-index: 8;

    img {
      position: relative;
      z-index: 10;
      transform: scale(0.5);
      left: 0;
      transition: transform .7s cubic-bezier(0.65, 0, 0.35, 1);
      &:first-child {
        z-index: 12;
      }

      &.third,
      &.second,
      &.first {
        position: absolute;
        bottom: 48px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 7;
        transform: scale(0.5);
        opacity: 0;
        //transition: all .5s 1.4s;
        //max-width: 80%;
        //@media screen and (min-width: $screen-md-min) {
        //  max-width: 100%;
        //}
      }

      &.third {
        left: -85%;
        bottom: 27%;
        z-index: 10;
        max-width: 60%;
        @media screen and (min-width: $screen-md-min) {
          max-width: 100%;
          left: -45%;
        }

        &--add {
          bottom: 17%;
        }
      }

      &.second {
        left: -47%;
        bottom: 0;
        max-width: 80%;
        @media screen and (min-width: $screen-md-min) {
          left: -27%;
          max-width: 100%;
        }

        &--add {
          left: -53%;
          @media screen and (min-width: $screen-md-min) {
            left: -37%;
          }
        }
        &--sec {
          left: -45%;
          @media screen and (min-width: $screen-md-min) {
            left: -31%;
          }
        }
      }

      &.first {
        left: 28%;
        bottom: 0;
        @media screen and (min-width: $screen-md-min) {
          left: 38%;
        }

        &--add {
          left: 20%;
          @media screen and (min-width: $screen-md-min) {
            left: 30%;
          }
        }
        &--sec {
          left: 24%;
          bottom: 3%;
          @media screen and (min-width: $screen-md-min) {
            left: 34%;
          }
        }
      }
    }
  }

  .swiper-wrapper {
    transition: all 0s 0.6s;
    margin-top: -50px;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 0;
    }
  }

  .swiper-slide {
    transition: transform .8s cubic-bezier(0.65, 0, 0.35, 1);
    text-align: center;
    pointer-events: none;

    &:before {
      content: '';
      position: absolute;
      bottom: -50px;
      left: 0;
      right: 0;
      width: 100%;
      opacity: 0;
      margin: auto;
      transition: opacity .8s cubic-bezier(0.65, 0, 0.35, 1);
      height: 50px;
      background: url("../images/animation/shadow.png") no-repeat center / 100% auto;
      @media screen and (min-width: $screen-md-min) {
        background: url("../images/animation/shadow.png") no-repeat center;
      }
    }
    &.active {
      &:before {
        opacity: 1;
      }
      img {
        transition:
          transform .8s 1.0s  cubic-bezier(0.65, 0, 0.35, 1),
          left .2s .4s;
        transform: scale(1) rotate(0);

        &.third,
        &.second,
        &.first {
          transform: scale(0.8);
          transition: all .8s 1.3s cubic-bezier(0.65, 0, 0.35, 1);
          opacity: 1;
          @media screen and (min-width: $screen-md-min) {
            transform: scale(1.0);
          }
        }
      }
    }

    &.remove {
      &:before {
        opacity: 0;
      }
      img {
        &.third,
        &.second,
        &.first {
          transform: scale(0.5);
          opacity: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transition: all .8s cubic-bezier(0.65, 0, 0.35, 1);
        }
      }
    }

    img {
      position: relative;
      z-index: 9;
      @media screen and (min-width: $screen-md-min) {
        max-height: 80vh;
      }
    }

    &.swiper-slide-duplicate-prev,
    &-next {
      img {
        transform: scale(0.5) rotate(20deg);
      }
    }
    &.swiper-slide-duplicate-next,
    &-prev {
      img {
        transform: scale(0.5) rotate(-20deg);
        @media screen and (min-width: $screen-md-min) {
          left: 30px;
        }
      }
    }
  }

  .swiper-pagination {
    width: 160px !important;
    left: 0 !important;
    right: 0;
    height: 113px;
    bottom: 115px !important;
    display: flex;
    margin: auto;
    align-items: center;
    @media screen and (min-width: $screen-md-min) {
      width: auto !important;
      left: auto !important;
      right: 20px;
      bottom: 20px !important;
    }
    @media screen and (min-width: $screen-lg-min) {
      right: 40px;
    }

    &-bullet {
      @include bulletType();
    }

    &.aos-animate {
      .swiper-pagination-bullet {
        &-active {
          g {
            path {
              &.red {
                stroke-dashoffset: 20;
                transition: all 5.5s;
              }
            }
          }
        }
      }
    }
  }
}

.desc-block {
  .slider-image {
    position: relative;
    margin: 0 - 20px;
    @media screen and (min-width: $screen-md-min) {
      position: absolute;
      right: -15px;
      bottom: 35px;
      max-width: 44%;
    }
    @media screen and (min-width: $screen-lg-min) {
      bottom: 40px;
    }
    @media screen and (min-width: $screen-xl-min) {
      bottom: 50px;
      right: 5px; // ?
    }
    @media screen and (min-width: 1680px) {
      bottom: 60px;
      max-width: 38%; // ?
    }
    @media screen and (min-width: 1920px) {
      bottom: 70px;
      max-width: 35%;
    }
    img {
      opacity: 0;
      transform: scale(0.8);
      transition: opacity .8s cubic-bezier(0.65, 0, 0.35, 1), transform .7s cubic-bezier(0.65, 0, 0.35, 1);
      &.active {
        opacity: 1;
        transform: scale(1);
      }
    }
    > img:not(:first-child) {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .swiper-container {
    position: static;
    overflow: visible;
  }
  .swiper-slide {
    width: 100% !important;
    margin-bottom: 30px;
    @media screen and (min-width: $screen-lg-min) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: $screen-xl-min) {
      margin-bottom: 40px;
    }

    > * {
      transform: translateY(100px) scale(0.8);
      opacity: 0;
      transition: opacity .7s .1s cubic-bezier(0.65, 0, 0.35, 1), transform .7s cubic-bezier(0.65, 0, 0.35, 1);
      @media screen and (min-width: $screen-lg-min) {
        max-width: 380px;
      }
    }

    .btn {
      padding-left: 30px;
      padding-right: 30px;
    }

    h4 {
      margin-top: 0;
    }

    p {
      margin: 25px 0;
    }
  }

  .swiper-slide.hideIt > * {
    transform: translateY(-100px) scale(0.8);
  }
  .swiper-slide-active > * {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  .swiper-pagination {
    position: static;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-bullet {
      opacity: 1;
      width: 46%;
      height: auto;
      font-weight: bold;
      border-radius: 0;
      background: transparent;
      position: relative;
      font-size: 12px;
      line-height: 140%;
      margin-top: 10px !important;
      padding-left: 30px;
      transition: color .5s;
      @media screen and (min-width: $screen-lg-min) {
        width: 100%;
        font-size: 16px;
        margin-top: 20px !important;
      }
      @media screen and (min-width: $screen-xl-min) {
        width: 46%;
        font-size: 18px;
      }

      .circle {
        position: absolute;
        left: 0;
        top: -3px;
        height: 20px;
        @media screen and (min-width: $screen-lg-min) {
          top: 0;
        }

        &:before {
          content: '';
          background: $gray;
          width: 10px;
          height: 10px;
          border-radius: 10px;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          transition: background .5s;
        }
      }


      &:hover {
        color: $color-type-2a;
        .circle {
          &:before {
            background: $color-type-2a;
          }
        }
      }

      &-active {
        color: $color-type-2a;

        .circle {
          &:before {
            background: $color-type-2a;
            width: 6px;
            height: 6px;
          }
        }

        #svg {
          opacity: 1;

          #bar {
            stroke-dashoffset: 0;
          }
        }
      }
    }
  }
}


.slideshow {
  &-container {
    .swiper-tools {
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (min-width: $screen-md-min) {
        justify-content: space-between;
      }

      .swiper-button {
        display: none;
        @media screen and (min-width: $screen-md-min) {
          display: flex;
        }
      }
    }

    .swiper-pagination {
      position: static;
      display: flex;
      align-items: center;
      justify-content: center;

      &-bullet {
        @include bulletType($color-type-2a);
      }
    }

  }
}

.swiper-button {
  width: 120px;
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: $screen-lg-min) {
    width: 170px;
  }

  > * {
    cursor: pointer;
    outline: none !important;
  }

  .nextBlock {
    &--ico {
      border-color: $color-type-3a;

      &:before {
        background-color: $color-type-3a;
      }

      &:hover {
        &:before {
          transform: translate3d(-50%, -50%, 0) scale(1);
          transition: transform .45s cubic-bezier(.6, .01, 0, 1.38);
        }
      }
    }
  }
}

.rollerIt {
  .swiper-slide {
    width: 290px;
  }
}



// aside slider

.slider-aside {
  position: relative;
  // max-height: 330px; deprecated
  display: block;
  background-color: $base-color-lighten;
  border-radius: 20px;
  text-decoration: none;

  &--mb--20 {
    margin-bottom: 20px;
  }

  &--maxw--355 {
    max-width: 355px;
  }


  &__control {
    position: absolute;
    z-index: 100000;
    top: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    position: relative;
    $size: 50px;
    width: $size;
    height: $size;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &::before {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      content: "";
      display: block;
      $size: 90px;
      width: $size;
      height: $size;
      background-color: white;
      border-radius: 50%;
      transition: transform 0.3s cubic-bezier(0.4, 0, 0, 1);

      // @media screen and (min-width: $screen-lg-min) {
      //   $size: 90px;
      //   width: $size;
      //   height: $size;
      // }
    }

    &:hover {

      &::before {
        transform: translate(-50%, -50%) scale(1);
        transition: transform .45s cubic-bezier(0.6, 0.01, 0, 1.38);
      }
    }

    &--next {
      transform: rotate(180deg);
    }
  }

  &__button-img {
    max-width: 15px;
  }


  &__slide {
    padding: 40px 20px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }


  &__image {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    max-width: 100%;
    // max-height: 100%;
    max-height: 185px;
  }

  &__caption {
    margin-top: 40px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #083645;
  }


  &__swiper-container {
    max-height: 100%;
  }

  &__swiper-slide {
    height: auto;
  }
}


.main-slider {
  width: 100%;
  height: 100%;
  //height: 52vh;
  .swiper-container {
    transition: transform .3s ease;
  }
  .swiper-slide{
    overflow: hidden;
    backface-visibility:hidden;
    .slide-bgimg{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-position:center;
      background-size:cover;
      border-radius: 40px;
    }
  }
  &.swiper-container {
    border-radius: 40px;
  }
}
