.outlook {


  // TOP

  &__top {
    background-image: url("../images/world/top-transition.svg"),
      url("../images/animation/slide-3.png"),
      url("../images/world/top-background.png");
  }


  // LIST

  &__list {
    margin: 0;
    padding-bottom: 40px;
    margin-top: 40px;
    flex-wrap: wrap;
    align-items: stretch;
    counter-reset: index;

    @media (min-width: $screen-md-min) {
      display: flex;
    }

    @media (min-width: $screen-lg-min) {
      margin-top: 80px;
      padding-bottom: 160px;
    }
  }

  &__list-item {

    &:not(:first-child) {
      margin-top: 40px;
    }

    &:not(.outlook__list-item--ghost) {
      counter-increment: index;
    }

    @media (min-width: $screen-md-min) {
      margin: 0;
      width: calc((100% - 40px) / 2);

      &:not(:first-child) {
        margin-top: 0;
      }

      &:nth-last-child(-n + 6) {
        margin-top: 40px;
      }

      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(7) {
        margin-left: 40px;
      }
    }

    @media (min-width: $screen-lg-min) {
      margin: 0;
      width: calc((100% - (40px * 3)) / 4);

      &:nth-last-child(-n + 6) {
        margin-top: 0;
      }

      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(7) {
        margin-left: 0;
      }

      &:nth-last-child(-n + 4) {
        margin-top: 80px;
      }

      &:not(:nth-child(4n + 1)) {
        margin-left: 40px;
      }
    }

    &--ghost {
      display: none;
      opacity: 0;
      visibility: hidden;

      @media (min-width: $screen-lg-min) {
        display: block;
      }
    }
  }

  &__list-image {
    display: flex;
    justify-content: center;
  }

  &__list-text {
    position: relative;
    z-index: 0;
    margin: 0;
    margin-top: 35px;
    font-size: 18px;
    line-height: 140%;
    text-align: center;

    &::before {
      position: absolute;
      z-index: -1;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      content: counter(index);
      font-weight: bold;
      font-size: 93px;
      line-height: 110%;
      color: white;

      @media (min-width: $screen-lg-min) {
        font-size: 120px;
      }
    }
  }
}
