extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block content
  main.page-catalog
    .left-container
      +title('Мороженое', ['Мороженое'])
      .catalogMain
        .catalogFilter--btn.btn-icon.catalogFilter--js
          span Фильтры
          +img('icons/plus-sq.svg')
        .catalogFilter
          .catalogFilter__item
            select.select.select-template(data-title='Виды')
              option(value, data-img='assets/images/catalog/filter/filter-1.svg') Все
              option(value='filter-2', data-img='assets/images/catalog/filter/filter-2.svg') Стаканчики
              option(value='filter-3', data-img='assets/images/catalog/filter/filter-3.svg') Рожки
              option(value='filter-4', data-img='assets/images/catalog/filter/filter-4.svg') Эскимо
              option(value='filter-5', data-img='assets/images/catalog/filter/filter-5.svg') Лакомка
              option(value='filter-6', data-img='assets/images/catalog/filter/filter-6.svg') Брикеты
              option(value='filter-7', data-img='assets/images/catalog/filter/filter-7.svg') Щербет
              option(value='filter-8', data-img='assets/images/catalog/filter/filter-8.svg') Семейное
              option(value='filter-9', data-img='assets/images/catalog/filter/filter-9.svg') Ванночки
              option(value='filter-10', data-img='assets/images/catalog/filter/filter-10.svg') Лотки
          .catalogFilter__item
            select.select.select-template(data-title='Вкусы')
              option(value, data-img='assets/images/catalog/filter/filter-1.svg') Все
              option(value='filter-2', data-img='assets/images/catalog/filter/filter-2.svg') Тирамису
              option(value='filter-11', data-img='assets/images/catalog/filter/filter-11.svg') Ваниль
              option(value='filter-12', data-img='assets/images/catalog/filter/filter-12.svg') Смородина
              option(value='filter-13', data-img='assets/images/catalog/filter/filter-13.svg') Тропик
              option(value='filter-14', data-img='assets/images/catalog/filter/filter-14.svg') Йогурт
              option(value='filter-15', data-img='assets/images/catalog/filter/filter-15.svg') Карамель
          .catalogFilter__item
            .btn.btn--info.btn__lg.btn-icon.btn--full.reset-filter--js
              +img('icons/rotate-cw.svg')
              span Сбросить
        .row.moreDetail--js.catalog.catalog--main(data-num='12', data-more='4')
          -
            let items = [
              {
                name: "Пломбир ванильный в вафельном стаканчике, 80г",
                img: "catalog/item-1.png",
                tags: ['Хит', 'Новинка', 'Без ГМО', '100% натурально']
              },
              {
                name: "Пломбир шоколадный в вафельном стаканчике, 80г",
                img: "catalog/item-2.png",
                tags: ['Хит', 'Новинка', 'Без ГМО']
              },
              {
                name: "Пломбир крем–брюле в вафельном стаканчике, 80г",
                img: "catalog/item-3.png",
                tags: ['Хит', 'Новинка']
              },
              {
                name: "Пломбир с кусочками клубники в вафельном стаканчике, 80г",
                img: "catalog/item-4.png",
                tags: ['Хит', 'Новинка']
              },
              {
                name: "Пломбир шоколадный в вафельном стаканчике, 80г",
                img: "catalog/item-2.png",
                tags: ['Хит', 'Новинка', 'Без ГМО']
              },
              {
                name: "Пломбир крем–брюле в вафельном стаканчике, 80г",
                img: "catalog/item-3.png",
                tags: ['Хит', 'Новинка']
              },
              {
                name: "Пломбир с кусочками клубники в вафельном стаканчике, 80г",
                img: "catalog/item-4.png",
                tags: ['Хит', 'Новинка']
              },
              {
                name: "Пломбир ванильный в вафельном стаканчике, 80г",
                img: "catalog/item-1.png",
                tags: ['Хит', 'Новинка', 'Без ГМО', '100% натурально']
              },
              {
                name: "Пломбир ванильный в вафельном стаканчике, 80г",
                img: "catalog/item-1.png",
                tags: ['Хит', 'Новинка', 'Без ГМО', '100% натурально']
              },
              {
                name: "Пломбир ванильный в вафельном стаканчике, 80г",
                img: "catalog/item-2.png",
                tags: ['Хит', 'Новинка', 'Без ГМО']
              },
              {
                name: "Пломбир крем–брюле в вафельном стаканчике, 80г",
                img: "catalog/item-3.png",
                tags: ['Хит', 'Новинка']
              },
              {
                name: "Пломбир с кусочками клубники в вафельном стаканчике, 80г",
                img: "catalog/item-4.png",
                tags: ['Хит', 'Новинка']
              },
              {
                name: "Пломбир шоколадный в вафельном стаканчике, 80г",
                img: "catalog/item-2.png",
                tags: ['Хит', 'Новинка', 'Без ГМО']
              },
              {
                name: "Пломбир крем–брюле в вафельном стаканчике, 80г",
                img: "catalog/item-3.png",
                tags: ['Хит', 'Новинка']
              },
              {
                name: "Пломбир с кусочками клубники в вафельном стаканчике, 80г",
                img: "catalog/item-4.png",
                tags: ['Хит', 'Новинка']
              },
              {
                name: "Пломбир ванильный в вафельном стаканчике, 80г",
                img: "catalog/item-1.png",
                tags: ['Хит', 'Новинка', 'Без ГМО', '100% натурально']
              },
            ]
          each item in items
            .col.col__xl-3.col__lg-4.col__xs-6.more__item--js(data-aos='fade-up')
              a.catalog__item(href='#')
                .tags
                  each tag in item.tags
                    .tags-item= tag
                .catalog-img
                  .catalog-img-wrapper
                    +img(item.img)
                  .sea
                    .surface
                .catalog-desc: p= item.name
        .row
          .col.col__lg-6.col__xs-12.centered-block(data-aos='fade-up')
            a.btn.btn--default.btn--full.btn-icon(href='#')
              span Показать еще
              i.sprite.sprite--arr-d
      .whereBuy(data-aos='fade-up')
        h2 Где купить?
        p.text__lg Продукцию «Чистая Линия» можно найти #[span.br-style] в популярных сетях и розничных магазинах, #[span.br-style] а также купить в нашем интернет-магазине.
        .btn-group(data-aos='fade-up')
          a.btn.btn--primary(href='#')
            +img('icons/location.svg')
            span.page-catalog__button-text Купить в Москве и МО
          a.btn.btn--primary(href='#')
            +img('icons/location.svg')
            span.page-catalog__button-text Купить в Санкт–Петурбурге и ЛО


block footer
  include ../partials/_footer-alt.pug
