@font-face {
  font-family: 'Core Sans';
  src: url('../fonts/CoreSans.woff2') format('woff2'),
    url('../fonts/CoreSans.woff') format('woff'),
    url('../fonts/CoreSans.ttf') format('truetype'),
    url('../fonts/CoreSans.svg#CoreSans') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans';
  src: url('../fonts/CoreSans-Bold.woff2') format('woff2'),
    url('../fonts/CoreSans-Bold.woff') format('woff'),
    url('../fonts/CoreSans-Bold.ttf') format('truetype'),
    url('../fonts/CoreSans-Bold.svg#CoreSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?99173737');
  src: url('../fonts/fontello.eot?99173737#iefix') format('embedded-opentype'),
  url('../fonts/fontello.woff2?99173737') format('woff2'),
  url('../fonts/fontello.woff?99173737') format('woff'),
  url('../fonts/fontello.ttf?99173737') format('truetype'),
  url('../fonts/fontello.svg?99173737#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

//@import 'normalize.css';

//
//sass/
////
//– base/
//   |– _forms.scss        # Forms rules
//   |– _typography.scss   # Typography rules
//   |– _buttons.scss      # Buttons
//   |– _forms.scss        # Forms
//   …                     # Etc.
//
//– modules/
//   |– _carousel.scss     # Carousel
//   |– _cover.scss        # Cover
//   |– _dropdown.scss     # Dropdown
//   …                     # Etc.
//
//– partials/
//   |– _navigation.scss   # Navigation
//   |– _grid.scss         # Grid system
//   |– _header.scss       # Header
//   |– _footer.scss       # Footer
//   |– _sidebar.scss      # Sidebar
//   …                     # Etc.
//
//– pages/
//   |– _home.scss         # Home specific styles
//   |– _contact.scss      # Contact specific styles
//   …                     # Etc.
//
//– themes/
//   |– _theme.scss        # Default theme
//   |– _admin.scss        # Admin theme
//   …                     # Etc.
//
//– helpers/
//   |– _variables.scss    # Sass Variables
//   |– _functions.scss    # Sass Functions
//   |– _mixins.scss       # Sass Mixins
//   |– _placeholders.scss # Sass Placeholders
//
//– vendors/
//   |– _reset.scss         # Reset
//   |– _debug.scss         # Debug mode
//   …                      # Etc.
//
//– main.scss              # Main Sass file
//


//*
// Which objects and abstractions would you like to use?
//base
$use-btn-color:                true!default;
$use-btn-size:                 true!default;
$use-btn-group:                false!default;
$use-input-group:              false!default;
$use-table:                    true!default;
$use-color-table:              false!default;
$use-column-table:             false!default;
$use-color-text:               true!default;

//modules
$use-accordion:                false!default;
$use-breadcrumb:               true!default;
$use-pagination:               true!default;
$use-pager:                    true!default;
$use-space:                    true!default;
$use-split:                    false!default;
$use-rules:                    false!default;
$use-this-or-this:             false!default;
$use-media:                    true!default;
// grids
$use-adaptive:                 true!default;
$use-flexbox:                  true!default;
$use-bem:                      false!default;
// plugins
$use-animations:               false!default;
$debug-mode:                   false!default;

@import "_sprites";

// Color scheme
@import "themes/_scheme-default";

// Mixins
@import "helpers/*.scss";

// Plugins
@import "vendors/*.scss";

// Base
@import "base/*.scss";

// Modules
@import "modules/*.scss";

// Partials
@import "partials/*.scss";

// Pages
@import "pages/*.scss";

@import "~swiper/swiper-bundle.css";
@import "~jbox/dist/jBox.all.css";
@import "~aos/dist/aos.css";
@import "~select2/dist/css/select2.css";
@import "~rangeslider.js/dist/rangeslider.css";
