.social
  a(href='#')
    svg(width='41' height='41' viewbox='0 0 41 41' fill='none' xmlns='http://www.w3.org/2000/svg')
      g(opacity='0.2')
        path.circle(d='M20.0436 0.73628L20.0812 0.73628L20.1184 0.730665C26.414 -0.220926 31.469 1.84428 34.9616 5.5868C38.4664 9.34246 40.4229 14.8174 40.4229 20.6998C40.4229 26.612 38.9699 31.5421 36.1456 34.9845C33.3329 38.4128 29.1137 40.4231 23.4455 40.4231C12.0658 40.4231 1.15315 31.5981 1.15315 19.9578C1.15315 14.0814 3.06403 9.28457 6.35579 5.95856C9.64728 2.63282 14.3603 0.73628 20.0436 0.73628Z' stroke='#5CA8C0')
      path(d='M20.7354 25.9848H21.8017C21.8017 25.9848 22.141 25.9357 22.2864 25.7883C22.4318 25.6408 22.4318 25.2968 22.4318 25.2968C22.4318 25.2968 22.4318 23.8717 23.0619 23.6752C23.692 23.4786 24.5644 25.0511 25.4369 25.69C26.1154 26.1322 26.6001 26.034 26.6001 26.034L28.9751 25.9848C28.9751 25.9848 30.1868 25.8865 29.6052 24.9037C29.5567 24.8054 29.2659 24.1666 27.8603 22.8398C26.4062 21.4638 26.6001 21.6604 28.345 19.2524C29.4113 17.7782 29.8475 16.8936 29.7021 16.5005C29.5567 16.1565 28.7812 16.2548 28.7812 16.2548H26.1154C26.1154 16.2548 25.9215 16.2056 25.7761 16.3039C25.6307 16.4022 25.5338 16.5988 25.5338 16.5988C25.5338 16.5988 25.0976 17.729 24.5644 18.7119C23.4012 20.7267 22.9165 20.8741 22.7226 20.7267C22.2864 20.481 22.3833 19.5964 22.3833 18.9576C22.3833 16.9919 22.6741 16.1565 21.8017 15.9599C21.5109 15.9108 21.317 15.8616 20.5415 15.8125C19.5721 15.8125 18.7966 15.8125 18.3604 16.0582C18.0696 16.2056 17.8273 16.5496 17.9727 16.5496C18.1665 16.5496 18.5543 16.6479 18.7482 16.9428C19.039 17.3359 18.9905 18.1713 18.9905 18.1713C18.9905 18.1713 19.1359 20.481 18.6028 20.7758C18.2635 20.9724 17.7788 20.5792 16.7125 18.7119C16.1793 17.7782 15.7431 16.7462 15.7431 16.7462C15.7431 16.7462 15.7431 16.5496 15.5977 16.4513C15.4038 16.3039 15.21 16.3039 15.21 16.3039H12.6896C12.6896 16.3039 12.3018 16.3039 12.1564 16.5005C12.011 16.6479 12.1564 16.9428 12.1564 16.9428C12.1564 16.9428 14.1436 21.6112 16.3732 23.97C18.4089 26.1322 20.7354 25.9848 20.7354 25.9848Z' fill='#5CA8C0')
  a(href='#')
    svg(width='42' height='41' viewbox='0 0 42 41' fill='none' xmlns='http://www.w3.org/2000/svg')
      g(opacity='0.2')
        path.circle(d='M21.0129 0.73628L21.0505 0.73628L21.0876 0.730665C27.3832 -0.220926 32.4383 1.84428 35.9308 5.5868C39.4357 9.34246 41.3921 14.8174 41.3921 20.6998C41.3921 26.612 39.9392 31.5421 37.1148 34.9845C34.3021 38.4128 30.0829 40.4231 24.4147 40.4231C13.035 40.4231 2.12239 31.5981 2.12239 19.9578C2.12239 14.0814 4.03327 9.28457 7.32503 5.95856C10.6165 2.63282 15.3296 0.73628 21.0129 0.73628Z' stroke='#5CA8C0')
      path(d='M24.1999 15.5789V17.16H27.0049L26.6487 19.9979H24.1999V27.9035H20.3707V19.9979H18.6343V17.16H20.3707V15.5789C20.3707 15.5789 20.0591 12.5788 23.1758 12.0923H27.0049V14.6464H25.2684C25.2684 14.6059 24.2889 14.5653 24.1999 15.5789Z' fill='#5CA8C0')
  a(href='#')
    svg(width='42' height='41' viewbox='0 0 42 41' fill='none' xmlns='http://www.w3.org/2000/svg')
      g(opacity='0.2')
        path.circle(d='M20.9826 0.73628L21.0202 0.73628L21.0573 0.730665C27.353 -0.220926 32.408 1.84428 35.9006 5.5868C39.4054 9.34246 41.3618 14.8174 41.3618 20.6998C41.3618 26.612 39.9089 31.5421 37.0846 34.9845C34.2719 38.4128 30.0526 40.4231 24.3844 40.4231C13.0047 40.4231 2.09212 31.5981 2.09212 19.9578C2.09212 14.0814 4.00299 9.28457 7.29475 5.95856C10.5862 2.63282 15.2993 0.73628 20.9826 0.73628Z' stroke='#5CA8C0')
      path(d='M22.8143 17.6353C21.5206 17.6353 20.4717 18.6842 20.4717 19.9779C20.4717 21.2716 21.5206 22.3206 22.8143 22.3206C24.1079 22.3206 25.1568 21.2716 25.1568 19.9779C25.1568 18.6842 24.1079 17.6353 22.8143 17.6353Z' fill='#5CA8C0')
      path(d='M25.2616 13.02H20.3666C17.8842 13.02 15.8213 15.083 15.8213 17.5655V22.4256C15.8213 24.9431 17.8842 26.9711 20.3666 26.9711H25.2266C27.744 26.9711 29.7719 24.9081 29.7719 22.4256V17.5655C29.8069 15.083 27.744 13.02 25.2616 13.02ZM22.8141 23.6494C20.8211 23.6494 19.1778 22.041 19.1778 20.013C19.1778 17.9851 20.8211 16.3767 22.8141 16.3767C24.807 16.3767 26.4503 17.9851 26.4503 20.013C26.4503 22.006 24.842 23.6494 22.8141 23.6494ZM26.3804 17.2508C25.8909 17.2508 25.5063 16.8312 25.5063 16.3767C25.5063 15.9221 25.9259 15.4676 26.3804 15.4676C26.8699 15.4676 27.2545 15.8872 27.2545 16.3417C27.2545 16.8662 26.8699 17.2508 26.3804 17.2508Z' fill='#5CA8C0')
  a(href='#')
    svg(width='42' height='41' viewbox='0 0 42 41' fill='none' xmlns='http://www.w3.org/2000/svg')
      g(opacity='0.2')
        path.circle(d='M20.9509 0.73628L20.9884 0.73628L21.0256 0.730665C27.3212 -0.220926 32.3763 1.84428 35.8688 5.5868C39.3736 9.34246 41.3301 14.8174 41.3301 20.6998C41.3301 26.612 39.8772 31.5421 37.0528 34.9845C34.2401 38.4128 30.0209 40.4231 24.3527 40.4231C12.973 40.4231 2.06038 31.5981 2.06038 19.9578C2.06038 14.0814 3.97126 9.28457 7.26301 5.95856C10.5545 2.63282 15.2675 0.73628 20.9509 0.73628Z' stroke='#5CA8C0')
      path(fill-rule='evenodd' clip-rule='evenodd' d='M24.915 17.8242C25.8831 18.5174 27.0688 18.9254 28.3493 18.9254V16.9816C27.6345 16.8291 27.0017 16.4548 26.5259 15.9341C25.7116 15.4249 25.1248 14.5848 24.9528 13.6016H23.1575V23.4644C23.1535 24.6142 22.2222 25.5452 21.0738 25.5452C20.3971 25.5452 19.7959 25.222 19.4152 24.7213C18.7353 24.3775 18.269 23.6716 18.269 22.8563C18.269 21.7032 19.2018 20.7684 20.3526 20.7684C20.5731 20.7684 20.7856 20.8028 20.985 20.8662V18.9013C18.5135 18.9524 16.5259 20.9759 16.5259 23.4645C16.5259 24.7068 17.0209 25.833 17.8242 26.6558C18.5489 27.1435 19.4214 27.4278 20.36 27.4278C22.8756 27.4278 24.915 25.3843 24.915 22.8635V17.8242Z' fill='#5CA8C0')
      path(fill-rule='evenodd' clip-rule='evenodd' d='M28.3496 16.9945V16.4698C27.7039 16.4708 27.0709 16.2902 26.5231 15.9487C27.008 16.4789 27.6466 16.8445 28.3496 16.9945ZM24.9472 13.6202C24.9307 13.5263 24.9181 13.4319 24.9093 13.3371V13.02H22.4263V22.8665C22.4223 24.0142 21.4895 24.9436 20.339 24.9436C20.0012 24.9436 19.6824 24.8636 19.3999 24.7213C19.7813 25.2211 20.3836 25.5438 21.0615 25.5438C22.2118 25.5438 23.1447 24.6144 23.1488 23.4665V13.6202H24.9472ZM20.9725 18.911V18.3524C20.765 18.324 20.5559 18.3098 20.3464 18.31C17.8262 18.31 15.7832 20.3501 15.7832 22.8665C15.7832 24.4442 16.5861 25.8345 17.8062 26.6524C17.0015 25.831 16.5057 24.7067 16.5057 23.4665C16.5057 20.9821 18.4967 18.962 20.9725 18.911Z' fill='#5CA8C0')
  a(href='#')
    svg(width='42' height='41' viewbox='0 0 42 41' fill='none' xmlns='http://www.w3.org/2000/svg')
      g(opacity='0.2')
        path.circle(d='M20.9206 0.73628L20.9582 0.73628L20.9953 0.730665C27.291 -0.220926 32.346 1.84428 35.8385 5.5868C39.3434 9.34246 41.2998 14.8174 41.2998 20.6998C41.2998 26.612 39.8469 31.5421 37.0225 34.9845C34.2098 38.4128 29.9906 40.4231 24.3224 40.4231C12.9427 40.4231 2.03011 31.5981 2.03011 19.9578C2.03011 14.0814 3.94098 9.28457 7.23274 5.95856C10.5242 2.63282 15.2373 0.73628 20.9206 0.73628Z' stroke='#5CA8C0')
      path(fill-rule='evenodd' clip-rule='evenodd' d='M22.1985 13.9521C19.5149 13.9524 17.6554 13.9613 16.7009 14.8934C15.7689 15.8477 15.7599 17.7945 15.7599 20.3907C18.6428 20.3037 19.9611 20.2315 21.0126 19.2048C22.0392 18.1534 22.1115 16.8351 22.1985 13.9521ZM16.7007 26.0318C15.7687 25.0776 15.7598 23.1308 15.7598 20.5345C18.6426 20.6215 19.961 20.6937 21.0124 21.7204C22.0391 22.7719 22.1113 24.0901 22.1983 26.9729C19.5147 26.9729 17.6552 26.9642 16.7007 26.0318ZM22.3422 26.9729C22.4292 24.0901 22.5014 22.7719 23.5281 21.7204C24.5795 20.6937 25.8979 20.6215 28.7807 20.5345C28.7805 23.1308 28.7715 25.0776 27.8395 26.0318C26.885 26.9642 25.0258 26.9729 22.3422 26.9729ZM22.3422 13.9521C22.4292 16.8351 22.5014 18.1534 23.5281 19.2048C24.5795 20.2315 25.8979 20.3037 28.7807 20.3907C28.7805 17.7945 28.7715 15.8477 27.8395 14.8934C26.885 13.9613 25.0258 13.9524 22.3422 13.9521Z' fill='#5CA8C0')
      path(fill-rule='evenodd' clip-rule='evenodd' d='M23.5281 21.7204C22.5014 22.7719 22.4292 24.0901 22.3422 26.9729C25.0258 26.9729 26.885 26.9642 27.8395 26.0318C28.7715 25.0776 28.7805 23.1308 28.7807 20.5345C25.8979 20.6215 24.5795 20.6937 23.5281 21.7204ZM15.7598 20.5345C15.7598 23.1308 15.7687 25.0776 16.7007 26.0318C17.6552 26.9642 19.5147 26.9729 22.1983 26.9729C22.1113 24.0901 22.0391 22.7719 21.0124 21.7204C19.961 20.6937 18.6426 20.6215 15.7598 20.5345ZM22.1985 13.9521C19.5149 13.9524 17.6554 13.9613 16.7009 14.8934C15.7689 15.8477 15.7599 17.7945 15.7599 20.3907C18.6428 20.3037 19.9611 20.2315 21.0126 19.2048C22.0392 18.1534 22.1115 16.8351 22.1985 13.9521ZM23.5281 19.2048C22.5014 18.1534 22.4292 16.8351 22.3422 13.9521C25.0258 13.9524 26.885 13.9613 27.8395 14.8934C28.7715 15.8477 28.7805 17.7945 28.7807 20.3907C25.8979 20.3037 24.5795 20.2315 23.5281 19.2048Z' fill='url(#paint0_linear)')
      path.circle-up(fill-rule='evenodd' clip-rule='evenodd' d='M28.7807 20.5353V20.4634V20.3917C25.8979 20.3044 24.5795 20.2325 23.5281 19.2055C22.5014 18.1543 22.4292 16.8361 22.3422 13.9531H22.2702H22.1983C22.1113 16.8361 22.0391 18.1543 21.0124 19.2055C19.9609 20.2325 18.6426 20.3044 15.7598 20.3917V20.4634V20.5353C18.6426 20.6225 19.9609 20.6945 21.0124 21.7212C22.0391 22.7726 22.1113 24.0909 22.1983 26.9738H22.2702H22.3422C22.4292 24.0909 22.5014 22.7726 23.5281 21.7212C24.5795 20.6945 25.8979 20.6225 28.7807 20.5353Z' fill='white')
      defs
        lineargradient#paint0_linear(x1='28.7807' y1='26.9729' x2='28.7807' y2='13.9521' gradientunits='userSpaceOnUse')
          stop(stop-color='white' stop-opacity='0.01')
          stop(offset='0.47509' stop-color='white' stop-opacity='0.01')
          stop(offset='0.76042' stop-color='white' stop-opacity='0.04271')
          stop(offset='0.99531' stop-color='white' stop-opacity='0.09855')
          stop(offset='1' stop-color='white' stop-opacity='0.1')

